@import 'chroma/functions';

$chroma: add-colors((
  primary: (#333 lighten 60%),
));

$chroma: define-color-scheme('child');
$chroma: add-colors(child, (
  child-color: (primary darken 20%),
));

$chroma: define-color-scheme('grandchild', $parent: 'child');
$chroma: add-colors(grandchild, (
  primary: (#222 lighten 60%),
));

.test {
  parent-color-default: color(child, child-color);
  parent-color-overridden: color(grandchild, child-color);
}
