// Functions module
//
// The main module for Chroma.
//
// Style guide: functions

// Import the global variables and internal functions needed by all of Chroma.
@import './variables';
@import './internals';

// Initialize the $chroma data structure.
$chroma: _chroma-init();


// is-dangerous-color-keyword($name)
//
// If a real Sass color is given as a color name to Chroma, it is in danger of
// being converted to a hexadecimal value before Chroma can read the name. And
// some hex values map to more than one keyword (e.g. gray and grey), so the
// original name would be irretrievable.
//
// Checks if the given name is one of those dangerous color keywords. Returns
// false or causes the Sass compilation to die with an error message containing
// the name of the ambiguous color keywords.
//
// $name - The name of the color to check.
//
// Style guide: functions.is-dangerous-color-keyword
@function is-dangerous-color-keyword($name) {
  @if type-of($name) == 'color' {
    // Convert the color to a string.
    $name: inspect($name);
    // Check if Sass will convert the color into a hex value that we can't
    // convert back to a keyword.
    @if map-has-key($_chroma-dangerous-keywords, $name) {
      @if $chroma-die-on-dangerous-keyword {
        @error "Sass will convert #{$name} into a hexidecimal value when it uses the \"compressed\" output style and Chroma will not be able to determine if the original name was #{map-get($_chroma-dangerous-keywords, $name)}. To prevent this error, quote the keyword like this: '#{$name}'.";
      }
      @else {
        @return map-get($_chroma-dangerous-keywords, $name);
      }
    }
    // Check if Sass _has_ converted the color into a hex value that we can't
    // convert back to a keyword.
    @else if map-has-key($_chroma-dangerous-converted-keywords, $name) {
      @error "Sass has converted a color keyword into the hexidecimal value, #{$name}, and Chroma was not be able to determine if the original name was #{map-get($_chroma-dangerous-converted-keywords, $name)}. To prevent this error, use quotes around the keyword.";
    }
  }
  @return false;
}

// is-color-keyword($name)
//
// Checks if the given name is a color keyword. Returns false or a string
// containing the name of the color keyword.
//
// $name - The name of the color to check.
//
// Style guide: functions.is-color-keyword
@function is-color-keyword($name) {
  // If a real Sass color is given, it is in danger of being converted to a
  // hexadecimal value before we can read the name. And some hex values map to
  // more than one keyword (e.g. gray and grey), so the original name would be
  // irretrievable.
  @if is-dangerous-color-keyword($name) {
    // If true, the is-dangerous-color-keyword() would @die before it returned.
  }

  // Convert the color to a string.
  $name: inspect($name);

  @return if(map-has-key($_chroma-css4-color-keywords, $name), map-get($_chroma-css4-color-keywords, $name), false);
}

// chroma-to-string($name)
//
// Cast the color name to a string to ensure color keywords do not cause
// problems as map keys.
//
// $name - The name of the color to convert.
//
// Style guide: functions.chroma-to-string
@function chroma-to-string($name) {
  // If the name is a color keyword, convert it to a string.
  $is-keyword: is-color-keyword($name);
  @return if($is-keyword, $is-keyword, inspect($name));
}

// color([$scheme,] $name)
//
// Returns a color value given a key word and optional color scheme. If the
// named color is not in the color scheme, the color scheme's parent scheme will
// be searched.
//
// Usage:
// ```scss
// .ex {
//   background-color: color(body-bg);
//   border: 1px solid color(grace, border);
// }
// ```
//
// $scheme - Optional color scheme to choose from; defaults to
//           `$chroma-active-scheme`.
// $name   - The name of the requested color.
//
// Style guide: functions.color
@function color($scheme, $name: null) {
  @if type-of($name) == 'null' {
    // The shortcut syntax was used since $name is null. Move the color name to
    // the $name parameter and set a default value to $scheme.
    $name: $scheme;
    $scheme: $chroma-active-scheme;
  }

  // Confirm the scheme exists.
  @if not chroma-has-scheme($scheme) {
    @error 'The #{$_chroma-spelling} scheme "#{$scheme}" was not found.';
  }
  // Cast the color name to a string to ensure color keywords do not cause
  // problems as map keys.
  $name: chroma-to-string($name);
  // Find the actual scheme used by the named color.
  $actual-scheme: chroma-has-color($name, $scheme);
  @if not $actual-scheme {
    @error 'The #{$_chroma-spelling} "#{$name}" was not found.';
  }
  $color: map-get(map-get($chroma, 'names'), "#{$actual-scheme}::#{$name}");
  @if $actual-scheme == $scheme {
    @return map-get($color, 'value');
  }
  @else {
    // The value of $actual-scheme::$name is based on parents in $actual-scheme.
    // But one or more of the parents may be defined in $scheme too, so we need
    // to check the full reference chain.
    $ref: map-get($color, 'reference');
    @while $ref {
      $actual-scheme: chroma-has-color($ref, $scheme);
      $color: map-get(map-get($chroma, 'names'), "#{$actual-scheme}::#{$ref}");
      $ref: map-get($color, 'reference');
    }
    @return map-get($color, 'value');
  }
}

// define-color-scheme($scheme [, $description] [, $parent])
//
// Define a new color scheme and, optionally, set its description and parent
// color scheme.
//
// When searching for a color and the color scheme does not define that
// particular color, the parent color scheme will be checked to see if it
// defines that color.
//
// By default, all color schemes inherit their colors from the default color
// scheme. Optionally, a color scheme can choose to inherit from a different
// color scheme by specifying the `$parent` parameter.
//
// Usage:
// ```scss
// $chroma: define-color-scheme(taiwan, "Taiwan's colors");
// $chroma: define-color-scheme(taipei, "Taipei's colors", $parent: taiwan);
// ```
//
// $scheme      - The name of the new color scheme.
// $description - Optional description of the color scheme.
// $parent      - The parent color scheme to inherit colors from; defaults to
//                `default` (i.e. `$CHROMA_DEFAULT_SCHEME`).
//
// Style guide: functions.define-color-scheme
@function define-color-scheme($scheme, $description: '', $parent: $CHROMA_DEFAULT_SCHEME) {
  // Check if we are defining the default color scheme.
  @if $scheme == $CHROMA_DEFAULT_SCHEME {
    $parent: false;
  }

  // Check parent reference exists.
  @if $parent and not chroma-has-scheme($parent) {
    @error 'Cannot set the parent of #{scheme} to "#{$parent}" because the #{$_chroma-spelling} scheme "#{$parent}" was not found.';
  }

  $schemes: map-merge(
    map-get($chroma, 'schemes'),
    ($scheme: (
      'description': $description,
      'parent': $parent,
    ))
  );

  @return map-merge(
    $chroma,
    ('schemes': $schemes)
  );
}

// define-default-color-scheme($description)
//
// Sets the description of the default color scheme.
//
// Usage:
// ```scss
// $chroma: define-default-color-scheme('Default colors');
// ```
//
// $description - Description of the default color scheme.
//
// Style guide: functions.define-default-color-scheme
@function define-default-color-scheme($description) {
  @return define-color-scheme($CHROMA_DEFAULT_SCHEME, $description);
}

// add-colors([$scheme,] $colors)
//
// Add the colors to an existing color scheme.
//
// Usage:
// ```scss
// $my-colors: add-colors('admiral', (
//  nav:             'link',
//  nav-visited:     color(link-visited),
//  nav-focus:       color(link-focus),
// ));
// ```
//
// If you wish to add colors to the active scheme, you can just use:
// ```scss
// $my-colors: add-colors((
//  nav:             'link',
//  nav-visited:     color(link-visited),
//  nav-focus:       color(link-focus),
// ));
// ```
//
// $scheme - Optional: color scheme to add colors to; defaults to
//           `$chroma-active-scheme`.
// $colors - A Sass map containing the new colors.
//
// Style guide: functions.add-colors
@function add-colors($scheme, $colors: null) {
  @if type-of($scheme) == 'map' or type-of($scheme) == 'list' {
    // The shortcut syntax was used since only a map of $colors was given as the
    // first parameter. Move the map to the $colors parameter and set a default
    // value to $scheme.
    $colors: $scheme;
    $scheme: $chroma-active-scheme;
  }
  @if not chroma-has-scheme($scheme) {
    @error 'The #{$_chroma-spelling} scheme "#{$scheme}" was not found.';
  }
  @each $color-name, $color-value in $colors {
    // Cast the color name to a string to ensure color keywords do not cause
    // problems as map keys.
    $color-name: chroma-to-string($color-name);
    // If the value given is a color, just add it.
    @if type_of($color-value) == 'color' {
      $chroma: _chroma-add-name($scheme, $color-name,
        $value          : $color-value,
        $reference      : false,
        $referenced_by  : ()
      ) !global;
    }
    // If the value given is a reference to another color...
    @else if type_of($color-value) == 'string' {
      $ref: $color-value;
      // Find the referenced color.
      $scheme-of-reference: chroma-has-color($ref, $scheme);
      @if not $scheme-of-reference {
        @error 'The #{$_chroma-spelling} "#{$ref}" was not found.';
      }
      $referenced-color: map-get(map-get($chroma, 'names'), "#{$scheme-of-reference}::#{$ref}");
      // Add the new color.
      $chroma: _chroma-add-name($scheme, $color-name,
        $value         : map-get($referenced-color, 'value'),
        $reference     : $ref,
        $referenced_by : ()
      ) !global;
      // Document the new color in all the referenced_by lists.
      @while $ref {
        $chroma: _chroma-add-name($scheme-of-reference, $ref,
          $value         : map-get($referenced-color, 'value'),
          $reference     : map-get($referenced-color, 'reference'),
          $referenced_by : append(
            map-get($referenced-color, 'referenced_by'),
            $color-name
          )
        ) !global;
        $ref: map-get($referenced-color, 'reference');
        @if $ref {
          $scheme-of-reference: chroma-has-color($ref, $scheme);
          $referenced-color: map-get(map-get($chroma, 'names'), "#{$scheme-of-reference}::#{$ref}");
        }
      }
    }
    @else {
      @error 'Unexpected value given for color "#{$color-name}".';
    }
  }

  @return $chroma;
}
