// Use this stylesheet to add the default design for Chroma color swatches in a
// KSS style guide.

.chroma-kss,
%chroma-kss {
  line-height: 50px;

  &__swatch {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #000;
    margin-right: 10px;
    vertical-align: middle;
  }

  &__variable {
    margin-right: 10px;
  }

  &__alt-text {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    // IE6 and IE7 use the wrong syntax.
    *clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }

  &__value {
    color: #bbb;

    code {
      color: #bbb;
    }

    &:before {
      // "\2192" is unicode for right arrow. "\ " is a hack; otherwise space is
      // ignored in some browsers.
      content: '\2192\ ';
      font-family: sans-serif;
    }
  }

  &__reference {
    display: block;
    position: relative;
    top: -12px;
    line-height: 25px;
    padding-left: 50px;
    color: #999;
  }
}
