// Variables module
//
// This module contains all the public and private variables needed for Chroma
// to function. Only public variables are documented.
//
// Auto-imported by other modules.
//
// Weight: -2
//
// Style guide: variables

//
// Public variables.
//

// $chroma
//
// The colors and meta-data managed by Chroma.
//
// Chroma stores all of its colors, color schemes, skins etc. in the global
// sass variable, `$chroma`. All of Chroma's configuration functions are
// designed to save their changes to the system by changing the value of the
// `$chroma` variable. For example: `$chroma: add-colors((kermit, #70af00));`
//
// Note: since the `$chroma` variable is a complex map of data structures, it
// is highly recommended to only access `$chroma` through the functions and
// mixins provided and not attempt to read data from `$chroma` with Sass'
// `map-get()` and `map-set()` functions. (If you find you need more helper
// functions, submit a feature request! We're happy to help.)
//
// Style guide: variables.chroma
$chroma: () !default;

// $CHROMA_DEFAULT_SCHEME
//
// The name of the default color scheme; defaults to `default`. This variable
// is READ ONLY; changing its value will break Chroma.
//
// If you want to change this variable's value, you must use the
// `define-default-color-scheme()` function instead.
//
// Style guide: variables.CHROMA_DEFAULT_SCHEME
$CHROMA_DEFAULT_SCHEME: 'default';

// $chroma-active-scheme
//
// The currently active color scheme. This is the default value used by the
// $scheme parameter of most Chroma functions.
//
// By default, this variable is set to the 'default' color scheme.
//
// Style guide: variables.chroma-active-scheme
$chroma-active-scheme: $CHROMA_DEFAULT_SCHEME !default;

// $chroma-die-on-dangerous-keyword
//
// Controls whether Chroma will halt Sass compilation if it encounters a
// "dangerous color keyword".
//
// See the docs of is-dangerous-color-keyword() for more information.
//
// Style guide: variables.chroma-die-on-dangerous-keyword
$chroma-die-on-dangerous-keyword: true !default;

//
// Private variables.
//

// Let the Aussies, etc. have their preferred spelling.
//
// Rather than setting this variable directly, users should import the colour
// module with: `@import 'chroma/colour';`
$_chroma-spelling: 'color' !default;

// The following keywords will cause confusion if used as color names. See the
// docs of is-dangerous-color-keyword() for more information.
$_chroma-dangerous-keywords: (
  'aqua': 'aqua or cyan',
  'cyan': 'aqua or cyan',
  'fuchsia': 'fuchsia or magenta',
  'magenta': 'fuchsia or magenta',
  'darkgray': 'darkgray or darkgrey',
  'darkgrey': 'darkgray or darkgrey',
  'darkslategray': 'darkslategray or darkslategrey',
  'darkslategrey': 'darkslategray or darkslategrey',
  'dimgray': 'dimgray or dimgrey',
  'dimgrey': 'dimgray or dimgrey',
  'gray': 'gray or grey',
  'grey': 'gray or grey',
  'lightgray': 'lightgray or lightgrey',
  'lightgrey': 'lightgray or lightgrey',
  'lightslategray': 'lightslategray or lightslategrey',
  'lightslategrey': 'lightslategray or lightslategrey',
  'slategray': 'slategray or slategrey',
  'slategrey': 'slategray or slategrey',
);

// The following color values are the converted values of dangerous color
// keywords. If Chroma sees these values as color names, it means Sass converted
// the original color name before Chroma could see it. See the docs of
// is-dangerous-color-keyword() for more information.
$_chroma-dangerous-converted-keywords: (
  '#00ffff': 'aqua or cyan',
  '#0ff': 'aqua or cyan',
  '#ff00ff': 'fuchsia or magenta',
  '#f0f': 'fuchsia or magenta',
  '#a9a9a9': 'darkgray or darkgrey',
  '#2f4f4f': 'darkslategray or darkslategrey',
  '#696969': 'dimgray or dimgrey',
  '#808080': 'gray or grey',
  '#d3d3d3': 'lightgray or lightgrey',
  '#778899': 'lightslategray or lightslategrey',
  '#789': 'lightslategray or lightslategrey',
  '#708090': 'slategray or slategrey',
);

// We need to identify color names that are also color keywords so we can safely
// convert them to strings. Hex values are also included in the list since Sass
// may convert keywords to hex before Chroma can see them; this allows us to
// safely convert them back.
//
// This is the full list of CSS4 color keywords including the dangerous ones.
// From http://dev.w3.org/csswg/css-color-4/#named-colors
$_chroma-css4-color-keywords: (
  'aliceblue': 'aliceblue',
  '#f0f8ff': 'aliceblue',
  'antiquewhite': 'antiquewhite',
  '#faebd7': 'antiquewhite',
  'aqua': 'aqua',
  'aquamarine': 'aquamarine',
  '#7fffd4': 'aquamarine',
  'azure': 'azure',
  '#f0ffff': 'azure',
  'beige': 'beige',
  '#f5f5dc': 'beige',
  'bisque': 'bisque',
  '#ffe4c4': 'bisque',
  'black': 'black',
  '#000000': 'black',
  '#000': 'black',
  'blanchedalmond': 'blanchedalmond',
  '#ffebcd': 'blanchedalmond',
  'blue': 'blue',
  '#0000ff': 'blue',
  '#00f': 'blue',
  'blueviolet': 'blueviolet',
  '#8a2be2': 'blueviolet',
  'brown': 'brown',
  '#a52a2a': 'brown',
  'burlywood': 'burlywood',
  '#deb887': 'burlywood',
  'cadetblue': 'cadetblue',
  '#5f9ea0': 'cadetblue',
  'chartreuse': 'chartreuse',
  '#7fff00': 'chartreuse',
  'chocolate': 'chocolate',
  '#d2691e': 'chocolate',
  'coral': 'coral',
  '#ff7f50': 'coral',
  'cornflowerblue': 'cornflowerblue',
  '#6495ed': 'cornflowerblue',
  'cornsilk': 'cornsilk',
  '#fff8dc': 'cornsilk',
  'crimson': 'crimson',
  '#dc143c': 'crimson',
  'cyan': 'cyan',
  '#00ffff': 'cyan',
  '#0ff': 'cyan',
  'darkblue': 'darkblue',
  '#00008b': 'darkblue',
  'darkcyan': 'darkcyan',
  '#008b8b': 'darkcyan',
  'darkgoldenrod': 'darkgoldenrod',
  '#b8860b': 'darkgoldenrod',
  'darkgray': 'darkgray',
  '#a9a9a9': 'darkgray',
  'darkgreen': 'darkgreen',
  '#006400': 'darkgreen',
  'darkgrey': 'darkgrey',
  'darkkhaki': 'darkkhaki',
  '#bdb76b': 'darkkhaki',
  'darkmagenta': 'darkmagenta',
  '#8b008b': 'darkmagenta',
  'darkolivegreen': 'darkolivegreen',
  '#556b2f': 'darkolivegreen',
  'darkorange': 'darkorange',
  '#ff8c00': 'darkorange',
  'darkorchid': 'darkorchid',
  '#9932cc': 'darkorchid',
  'darkred': 'darkred',
  '#8b0000': 'darkred',
  'darksalmon': 'darksalmon',
  '#e9967a': 'darksalmon',
  'darkseagreen': 'darkseagreen',
  '#8fbc8f': 'darkseagreen',
  'darkslateblue': 'darkslateblue',
  '#483d8b': 'darkslateblue',
  'darkslategray': 'darkslategray',
  '#2f4f4f': 'darkslategray',
  'darkslategrey': 'darkslategrey',
  'darkturquoise': 'darkturquoise',
  '#00ced1': 'darkturquoise',
  'darkviolet': 'darkviolet',
  '#9400d3': 'darkviolet',
  'deeppink': 'deeppink',
  '#ff1493': 'deeppink',
  'deepskyblue': 'deepskyblue',
  '#00bfff': 'deepskyblue',
  'dimgray': 'dimgray',
  '#696969': 'dimgray',
  'dimgrey': 'dimgrey',
  'dodgerblue': 'dodgerblue',
  '#1e90ff': 'dodgerblue',
  'firebrick': 'firebrick',
  '#b22222': 'firebrick',
  'floralwhite': 'floralwhite',
  '#fffaf0': 'floralwhite',
  'forestgreen': 'forestgreen',
  '#228b22': 'forestgreen',
  'fuchsia': 'fuchsia',
  'gainsboro': 'gainsboro',
  '#dcdcdc': 'gainsboro',
  'ghostwhite': 'ghostwhite',
  '#f8f8ff': 'ghostwhite',
  'gold': 'gold',
  '#ffd700': 'gold',
  'goldenrod': 'goldenrod',
  '#daa520': 'goldenrod',
  'gray': 'gray',
  '#808080': 'gray',
  'green': 'green',
  '#008000': 'green',
  'greenyellow': 'greenyellow',
  '#adff2f': 'greenyellow',
  'grey': 'grey',
  'honeydew': 'honeydew',
  '#f0fff0': 'honeydew',
  'hotpink': 'hotpink',
  '#ff69b4': 'hotpink',
  'indianred': 'indianred',
  '#cd5c5c': 'indianred',
  'indigo': 'indigo',
  '#4b0082': 'indigo',
  'ivory': 'ivory',
  '#fffff0': 'ivory',
  'khaki': 'khaki',
  '#f0e68c': 'khaki',
  'lavender': 'lavender',
  '#e6e6fa': 'lavender',
  'lavenderblush': 'lavenderblush',
  '#fff0f5': 'lavenderblush',
  'lawngreen': 'lawngreen',
  '#7cfc00': 'lawngreen',
  'lemonchiffon': 'lemonchiffon',
  '#fffacd': 'lemonchiffon',
  'lightblue': 'lightblue',
  '#add8e6': 'lightblue',
  'lightcoral': 'lightcoral',
  '#f08080': 'lightcoral',
  'lightcyan': 'lightcyan',
  '#e0ffff': 'lightcyan',
  'lightgoldenrodyellow': 'lightgoldenrodyellow',
  '#fafad2': 'lightgoldenrodyellow',
  'lightgray': 'lightgray',
  '#d3d3d3': 'lightgray',
  'lightgreen': 'lightgreen',
  '#90ee90': 'lightgreen',
  'lightgrey': 'lightgrey',
  'lightpink': 'lightpink',
  '#ffb6c1': 'lightpink',
  'lightsalmon': 'lightsalmon',
  '#ffa07a': 'lightsalmon',
  'lightseagreen': 'lightseagreen',
  '#20b2aa': 'lightseagreen',
  'lightskyblue': 'lightskyblue',
  '#87cefa': 'lightskyblue',
  'lightslategray': 'lightslategray',
  '#778899': 'lightslategray',
  '#789': 'lightslategray',
  'lightslategrey': 'lightslategrey',
  'lightsteelblue': 'lightsteelblue',
  '#b0c4de': 'lightsteelblue',
  'lightyellow': 'lightyellow',
  '#ffffe0': 'lightyellow',
  'lime': 'lime',
  '#00ff00': 'lime',
  '#0f0': 'lime',
  'limegreen': 'limegreen',
  '#32cd32': 'limegreen',
  'linen': 'linen',
  '#faf0e6': 'linen',
  'magenta': 'magenta',
  '#ff00ff': 'magenta',
  '#f0f': 'magenta',
  'maroon': 'maroon',
  '#800000': 'maroon',
  'mediumaquamarine': 'mediumaquamarine',
  '#66cdaa': 'mediumaquamarine',
  'mediumblue': 'mediumblue',
  '#0000cd': 'mediumblue',
  'mediumorchid': 'mediumorchid',
  '#ba55d3': 'mediumorchid',
  'mediumpurple': 'mediumpurple',
  '#9370db': 'mediumpurple',
  'mediumseagreen': 'mediumseagreen',
  '#3cb371': 'mediumseagreen',
  'mediumslateblue': 'mediumslateblue',
  '#7b68ee': 'mediumslateblue',
  'mediumspringgreen': 'mediumspringgreen',
  '#00fa9a': 'mediumspringgreen',
  'mediumturquoise': 'mediumturquoise',
  '#48d1cc': 'mediumturquoise',
  'mediumvioletred': 'mediumvioletred',
  '#c71585': 'mediumvioletred',
  'midnightblue': 'midnightblue',
  '#191970': 'midnightblue',
  'mintcream': 'mintcream',
  '#f5fffa': 'mintcream',
  'mistyrose': 'mistyrose',
  '#ffe4e1': 'mistyrose',
  'moccasin': 'moccasin',
  '#ffe4b5': 'moccasin',
  'navajowhite': 'navajowhite',
  '#ffdead': 'navajowhite',
  'navy': 'navy',
  '#000080': 'navy',
  'oldlace': 'oldlace',
  '#fdf5e6': 'oldlace',
  'olive': 'olive',
  '#808000': 'olive',
  'olivedrab': 'olivedrab',
  '#6b8e23': 'olivedrab',
  'orange': 'orange',
  '#ffa500': 'orange',
  'orangered': 'orangered',
  '#ff4500': 'orangered',
  'orchid': 'orchid',
  '#da70d6': 'orchid',
  'palegoldenrod': 'palegoldenrod',
  '#eee8aa': 'palegoldenrod',
  'palegreen': 'palegreen',
  '#98fb98': 'palegreen',
  'paleturquoise': 'paleturquoise',
  '#afeeee': 'paleturquoise',
  'palevioletred': 'palevioletred',
  '#db7093': 'palevioletred',
  'papayawhip': 'papayawhip',
  '#ffefd5': 'papayawhip',
  'peachpuff': 'peachpuff',
  '#ffdab9': 'peachpuff',
  'peru': 'peru',
  '#cd853f': 'peru',
  'pink': 'pink',
  '#ffc0cb': 'pink',
  'plum': 'plum',
  '#dda0dd': 'plum',
  'powderblue': 'powderblue',
  '#b0e0e6': 'powderblue',
  'purple': 'purple',
  '#800080': 'purple',
  'rebeccapurple': 'rebeccapurple',
  '#663399': 'rebeccapurple',
  'red': 'red',
  '#ff0000': 'red',
  '#f00': 'red',
  'rosybrown': 'rosybrown',
  '#bc8f8f': 'rosybrown',
  'royalblue': 'royalblue',
  '#4169e1': 'royalblue',
  'saddlebrown': 'saddlebrown',
  '#8b4513': 'saddlebrown',
  'salmon': 'salmon',
  '#fa8072': 'salmon',
  'sandybrown': 'sandybrown',
  '#f4a460': 'sandybrown',
  'seagreen': 'seagreen',
  '#2e8b57': 'seagreen',
  'seashell': 'seashell',
  '#fff5ee': 'seashell',
  'sienna': 'sienna',
  '#a0522d': 'sienna',
  'silver': 'silver',
  '#c0c0c0': 'silver',
  'skyblue': 'skyblue',
  '#87ceeb': 'skyblue',
  'slateblue': 'slateblue',
  '#6a5acd': 'slateblue',
  'slategray': 'slategray',
  '#708090': 'slategray',
  'slategrey': 'slategrey',
  'snow': 'snow',
  '#fffafa': 'snow',
  'springgreen': 'springgreen',
  '#00ff7f': 'springgreen',
  'steelblue': 'steelblue',
  '#4682b4': 'steelblue',
  'tan': 'tan',
  '#d2b48c': 'tan',
  'teal': 'teal',
  '#008080': 'teal',
  'thistle': 'thistle',
  '#d8bfd8': 'thistle',
  'tomato': 'tomato',
  '#ff6347': 'tomato',
  'turquoise': 'turquoise',
  '#40e0d0': 'turquoise',
  'violet': 'violet',
  '#ee82ee': 'violet',
  'wheat': 'wheat',
  '#f5deb3': 'wheat',
  'white': 'white',
  '#ffffff': 'white',
  '#fff': 'white',
  'whitesmoke': 'whitesmoke',
  '#f5f5f5': 'whitesmoke',
  'yellow': 'yellow',
  '#ffff00': 'yellow',
  '#ff0': 'yellow',
  'yellowgreen': 'yellowgreen',
  '#9acd32': 'yellowgreen',
);

// libsass before 3.3.0 can't turn color keywords into strings of the same name,
// so we have to compare map keys using keywords plus a "salt" string.
//
// @TODO: Remove when LibSass 3.2.5 support is dropped.

$_chroma-css4-color-keywords-in-strings: ();
@if type-of('white') == 'color' {
  // Convert the dangerous color keyword list.
  $_new-list: ();
  @each $name, $string in $_chroma-dangerous-keywords {
    $_new-list: map-merge($_new-list, ("keyword:#{$name}": $string));
  }
  $_chroma-dangerous-keywords: $_new-list !global;

  // Convert the dangerous converted color keyword list.
  $_new-list: ();
  @each $name, $string in $_chroma-dangerous-converted-keywords {
    $_new-list: map-merge($_new-list, ("keyword:#{$name}": $string));
  }
  $_chroma-dangerous-converted-keywords: $_new-list !global;

  // Convert the css4 color keyword list, but keep a copy around to check for
  // color keywords in strings.
  $_chroma-css4-color-keywords-in-strings: $_chroma-css4-color-keywords !global;
  $_new-list: ();
  @each $name, $string in $_chroma-css4-color-keywords {
    $_new-list: map-merge($_new-list, ("keyword:#{$name}": $string));
  }
  $_chroma-css4-color-keywords: $_new-list !global;
}
