.colour .default-scheme {
  /* colour(red) outputs: #933 */
  color: #933;
  /* colour(blue) outputs: #33f */
  color: #33f;
}
.colour .inherited-scheme {
  /* colour(text) outputs: #111 */
  color: #111;
  /* colour(link) outputs: #33f */
  color: #33f;
}
.colour .multi-inherited-scheme {
  /* colour(alternate, text) outputs: #111 */
  color: #111;
  /* colour(alternate, link) outputs: #933 */
  color: #933;
}
