@import 'chroma/colour';

$chroma: define-colour-scheme('grandchild', $parent: 'child');

.test {
  schemes: chroma-schemes();
  grandchild-parent: map-get(map-get(map-get($chroma, 'schemes'), 'grandchild'), 'parent');
}
