@import 'chroma/colour';

$chroma: add-colours((
  primary: #eee,
));

$chroma: define-colour-scheme('child');
$chroma: add-colours(child, (
  child-colour: 'primary',
));

$chroma: define-colour-scheme('grandchild', $parent: 'child');
$chroma: add-colours(grandchild, (
  primary: #ddd,
));

.test {
  parent-colour-default: colour(child, child-colour);
  parent-colour-overridden: colour(grandchild, child-colour);
}
