@import 'chroma/colour';

$chroma: add-colours((
  white: #eee,
));

$chroma: define-colour-scheme('child');
$chroma: add-colours(child, (
  child-colour: #ccc,
));

$chroma: define-colour-scheme('grandchild', $parent: 'child');
$chroma: add-colours(grandchild, (
  grandchild-colour: #999,
));

.test {
  parent-scheme: colour(grandchild, child-colour);
  grandparent-scheme: colour(grandchild, white);
}
