$chroma-die-on-dangerous-keyword: false;

@import 'chroma/functions';

$chroma: add-colors((
  // Color keyword.
  black: #111,
  // Dangerous color keyword.
  gray: #999,
));

.test {
  color: color('black');
  color: color(black);
  color: color('gray');
  color: color(gray);
}
