@import 'init';

.color {
  .default-scheme {
    /* color(red) outputs: #933 */
    color: color(red);
    /* color(blue) outputs: #33f */
    color: color(blue);
  }

  $chroma-active-scheme: 'functional' !global;
  .inherited-scheme {
    /* color(text) outputs: #111 */
    color: color(text);
    /* color(link) outputs: #33f */
    color: color(link);
  }

  .multi-inherited-scheme {
    /* color(red) outputs: #111 */
    color: color(alternate, text);
    /* color(red) outputs: #933 */
    color: color(alternate, link);
  }
}
