@import 'chroma';

// Copy of code at bottom of _variables that only runs on libSass 3.2.5.
// Convert the dangerous color keyword list.
$_new-list: ();
@each $name, $string in $_chroma-dangerous-keywords {
  $_new-list: map-merge($_new-list, ("keyword:#{$name}": $string));
}
$_chroma-dangerous-keywords: $_new-list !global;

// Convert the dangerous converted color keyword list.
$_new-list: ();
@each $name, $string in $_chroma-dangerous-converted-keywords {
  $_new-list: map-merge($_new-list, ("keyword:#{$name}": $string));
}
$_chroma-dangerous-converted-keywords: $_new-list !global;

// Convert the css4 color keyword list, but keep a copy around to check for
// color keywords in strings.
$_chroma-css4-color-keywords-in-strings: $_chroma-css4-color-keywords !global;
$_new-list: ();
@each $name, $string in $_chroma-css4-color-keywords {
  $_new-list: map-merge($_new-list, ("keyword:#{$name}": $string));
}
$_chroma-css4-color-keywords: $_new-list !global;

.test {
  is-keyword-string: if(_is-keyword-string('gray'), "true", "false");
  is-keyword: if(_is-keyword-string(gray), "true", "false");
}
