@import 'chroma/functions';

.test1 {
  // We need to prevent a user from creating a local variable copy of $chroma.
  $chroma: define-skins((
    'default': '.is-default-skin',
  ));
  skins: map-keys(map-get($chroma, 'skins'));
}

.test2 {
  skins: map-keys(map-get($chroma, 'skins'));
}
